
{% load static %}


    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'website/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'website/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'website/bootstrap/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <style>
        .container{
            width: 900px;
            margin: 30px auto;
            text-align: justify;
        }
        .center{
            display: block;
            margin: auto;
        }
    
        .center1{
            display: block;
            margin: auto;
            padding-bottom: 5px;
        }
    </style>
<body id="top">


    <!-- pageheader
    ================================================== -->
    <div class="s-pageheader">

        <header class="header">
            <div class="header__content row">

                <div class="header__logo ">
                    <a class="logo" href="index.html">
                        <img src="/media/default/ohdintropng.png " style="width:230px;height:70px; alt="Homepage">
                    </a>
                </div> <!-- end header__logo -->

                <ul class="header__social">
                    <li>
                        <a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                    </li>
                </ul> <!-- end header__social -->

                <a class="header__search-trigger" href="#0"></a>

                <div class="header__search">

                    <form role="search" method="get" class="header__search-form" action="#">
                        <label>
                            <span class="hide-content">Search for:</span>
                            <input type="search" class="search-field" placeholder="Type Keywords" value="" name="s" title="Search for:" autocomplete="off">
                        </label>
                        <input type="submit" class="search-submit" value="Search">
                    </form>

                    <a href="#0" title="Close Search" class="header__overlay-close">Close</a>

                </div>  <!-- end header__search -->


                <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>

                <nav class="header__nav-wrap">

                    <h2 class="header__nav-heading h6">Site Navigation</h2>

                    <ul class="header__nav">
                        <li><a href="{% url 'home' %}" title="">Anasayfa</a></li>
                        <li><a href="{% url 'GonderilerGezi' %}" title="">Gezi Yazıları</a></li>

                        <!--

                        <li class="has-children">
                            <a href="#0" title="">Gezi Yazıları</a>
                            <ul class="sub-menu">

                            <li><a href="category.html">Lifestyle</a></li>
                            <li><a href="category.html">Health</a></li>
                            <li><a href="category.html">Family</a></li>
                            <li><a href="category.html">Management</a></li>
                            <li><a href="category.html">Travel</a></li>
                            <li><a href="category.html">Work</a></li>
                            </ul>
                        </li> -->
                        <li><a href="{% url 'GonderilerHayat' %}" title="">Hayata Dair</a></li>
                        <li class="has-children">
                            <a href="#0" title="">Dizi-Film Elestirileri</a>
                            <ul class="sub-menu">
                            <li><a href="{% url 'GonderilerDizi' %}">Dizi Elestirileri</a></li>
                            <li><a href="{% url 'GonderilerFilm' %}">Film Elestirileri</a></li>

                            </ul>
                        </li>
                        <li><a href="{% url 'about' %}" title="">Hakkımızda</a></li>
                        <li><a href="{% url 'contact' %}" title="">Iletisim</a></li>
                    </ul> <!-- end header__nav -->

            </div> <!-- header-content -->
        </header> <!-- header -->

    </div> <!-- end s-pageheader -->

</body>

<div class="container">
    <div class="s-content__media col-full">
        <div class="row">
            
            {% if blog.get_image %}
                <img src="{{ blog.get_image }}" width="480" height="640" class="center">
            {% endif %} <br>

            <h1> <a href="#"> {{ blog }} </a> </h1>
            <small class="pull-right"><span class="glyphicon glyphicon-time"></span> {{ blog.creating_date }}</small>

            <div class="row"><br>
                <p><br><br><br><br>
                    {{ blog.content|safe|linebreaks }}
                </p><br>
                <p>
                    {% for p in photos %}
                    <img src="{{ p.image.url }}" width="640" height="480" class="center1">
                    {% endfor %} <br>
                </p>
              
            </div>
        </div>
    </div>
</div>


